/* FINALIZED CSS */

/* CSS CODE USED AS OPTIONS */
.menyy-text-left {
	text-align: left;
}
.menyy-text-right {
	text-align: right;
}
.menyy-text-center {
	text-align: center;
}



/* LIST BUTTONS CSS */
.menyy-general-button {
	padding-left: 20px;
	padding-right: 20px;
}
/*.menyy-general-button-label {
}*/
.menyy-general-button-icon-right {
	padding-right: 20px;
}
.menyy-general-button-icon-left {
	padding-left: 20px;
}


/* GRID BUTTONS CSS */
.menyy-apps-grid-button-label {
	text-align: center;
}
.menyy-apps-grid-button {
	padding: 20px;
}
.menyy-categories-grid-button {
	padding-bottom: 26px;
}
.menyy-apps-grid-button-label {
	padding: 0px;
}


/* RIGHT CLICK BUTTONS CSS */
.menyy-shortcuts-button {
	padding: 6px;
	padding-left: 20px;
	padding-right: 20px;
}

.menyy-shortcuts-button-label {
	padding: 0px;
	padding-left: 20px;
	padding-right: 20px;
}



/* BOXES CSS */
.menyy-bottom-box {
	padding-left: 20px;
	padding-right: 20px;
}
.menyy-system-box{
	padding-left: 20px;
}
