.menyy-shortcut-icon {
}


.menyy-shortcut-label {
	padding-left: 1em;
}

.menyy-category-button {
    /*border-radius: 3px;*/
    /*border-width: 1px;*/
    /*padding: 0px */
    padding-left: 1em;
}

.menyy-apps-button {
    /*border-radius: 3px;*/
    /*border-width: 1px;*/
    /*padding: 0px */
    padding-left: 1em;
}

.menyy-category-button-label {
	/*font-size: 9pt;*/
	padding-left: 1em;
	/*background-color: #0000ff;*/
	/*vertical-align: middle;*/
}

.menyy-apps-button-label {
    /*border-radius: 3px;*/
    /*border-width: 1px;*/
    /*padding: 0px */
    padding-left: 1em;
}

.menyy-category-button.popup-sub-menu {
    font-weight: bold;
    box-shadow: 0 1px 0 rgba(255,255,255,0.04) 
}


/*
.popup-menu-item {
	padding: 0px;
	-natural-hpadding: 0px;
	-minimum-hpadding: 0px;
	padding-left: 0px;
	padding-right: 0px;
	margin: 0px;
	border: 0px;
}
*/

.popup-inactive-menu-item {
	padding: 0px;
	-natural-hpadding: 0px;
	-minimum-hpadding: 0px;
	padding-left: 0px;
	padding-right: 0px;
	margin: 0px;
	border: 0px;
}


/*
.popup-menu-ornament {
	padding: 0px;
	-natural-hpadding: 0px;
	-minimum-hpadding: 0px;
	padding-left: 0px;
	padding-right: 0px;
	margin: 0px;
	border: 0px;
}
*/
/*
.menyy-main-box {
	width: 60em;
	height: 60em;
}
*/

.menyy-icon {
	icon-size: 2em;
}

.menyy-search-box {
	padding-left:1em;
	padding-right: 1em;
	/*padding-bottom: 0.5em;*/
}

.menyy-categories-box-scrollview {
	/*min-width: 18em;*/
	/*max-width:18em;*/
	/*height:57em;*/
}

.menyy-applications-box-scrollview {
	/*min-width: 27em;*/
	/*max-width:27em;*/
	/*height: 57em;*/
}

/*
.menyy-applications-box-grid {
	min-width: 27em;
	max-width:27em;
	height: 57em;
}
*/



.menyy-places-box {
	/*min-width: 15em;*/
	/*max-width: 15em;*/
	/*height:57em;*/
	/*background-color: #ff0000;*/
}

.menyy-system-box{
	padding: 0em;
	padding-right: 1em;
}
