.menyy-system-box{
	padding-left: 20px;
}


.menyy-general-button {
	padding: 0px;
	padding-left: 20px;
	padding-right: 20px;
}

.menyy-apps-grid-button {
	padding: 20px;
}
.menyy-categories-grid-button {
	padding-bottom: 26px;
}

.menyy-apps-grid-button-label {
	padding: 0px;
}

.menyy-category-button {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 6px;
	padding-bottom: 11px;
}

.menyy-apps-button {
	padding-top:6px;
	padding-left: 20px;
	padding-right: 20px;
}
.menyy-back-button {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 6px;
	padding-bottom: 6px;
}
.menyy-shortcuts-button {
	padding: 6px;
	padding-left: 20px;
	padding-right: 20px;
	margin: 0px;
	border: 0px;
}
.menyy-user-button {
	padding: 6px;
	padding-left: 20px;
	padding-right: 20px;
	margin: 0px;
	border: 0px;
}




.menyy-category-button-label {
	padding: 0px;
	padding-left: 20px;
	padding-right: 20px;
}

.menyy-apps-button-label {
	padding: 0px;
	padding-left: 20px;
	padding-right: 20px;
	margin-bottom: 6px;
}

.menyy-back-button-label {
	padding: 0px;
	padding-left: 20px;
	padding-right: 20px;
}
.menyy-shortcuts-button-label {
	padding: 0px;
	padding-left: 20px;
	padding-right: 20px;
}



/*
.popup-menu-item {
	padding: 0px;
	-natural-hpadding: 0px;
	-minimum-hpadding: 0px;
	padding-left: 0px;
	padding-right: 0px;
	margin: 0px;
	border: 0px;
}
*/

.popup-inactive-menu-item {
	padding: 0px;
	-natural-hpadding: 0px;
	-minimum-hpadding: 0px;
	padding-left: 0px;
	padding-right: 0px;
	margin: 0px;
	border: 0px;
}


/*
.popup-menu-ornament {
	padding: 0px;
	-natural-hpadding: 0px;
	-minimum-hpadding: 0px;
	padding-left: 0px;
	padding-right: 0px;
	margin: 0px;
	border: 0px;
}
*/
/*
.menyy-main-box {
	width: 60em;
	height: 60em;
}
*/

.menyy-icon {
	icon-size: 2em;
}

.menyy-bottom-box {
	padding-left: 20px;
	padding-right: 20px;
	/*padding-bottom: 0.5em;*/
}

